.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0px 20px;
    height: 60px;
    position: sticky;
}

.header-logo{
    height: 30px;
    object-fit: contain;
    margin-left: 15px;
}

.header-logo-text{
    color: white;
    display: inline-block;
}

.header_icons, .header_input, .header_left{
    display: flex;
    align-items: center;
}

.header_input{
    width: 40%;
    border: 1px solid gray;
    background-color:rgb(22, 21, 21);
    /* border-radius: 5px; */
}

.header_input > input{
    flex: 1;    /*  increases the width of the input  */
    border: none;
    outline: none;
    line-height: 24px;
    padding-left: 10px;
    background-color:rgb(22, 21, 21);
}

.menuIcon, .signedIn, .threeDots{
    color: white;
}

.threeDots{
    margin-right: 5px;
}

.header_inputButton{
    width: 50px !important;
    background-color:rgb(22, 21, 21);
    color: grey;
    border-left: 1px solid lightgray;
}