.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0px 20px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    height: 30px;
    object-fit: contain;
    margin-left: 15px;
}

.header-logo-text{
    color: white;
    display: inline-block;
}

.header_icons, .header_left{
    display: flex;
    align-items: center;
}

.header_input{
    display: none;
    /* display: flex; */
    flex: 0.5;
    align-items: center;
    border: 1px solid gray;
    background-color:rgb(22, 21, 21);
    /* border-radius: 5px; */
}

.header_input > input{
    flex: 1;    /* increases the width of the input */
    border: none;
    outline: none;
    line-height: 24px;
    padding-left: 10px;
    background-color:rgb(22, 21, 21);
    color: lightgrey;
}

.menuIcon, .signedIn, .threeDots{
    color: white;
}

.threeDots{
    margin-right: 5px;
}

.header_inputButton{
    width: 50px !important;
    background-color:rgb(22, 21, 21);
    color: grey;
    border-right: 1px solid lightgray;
}

.header_inputButton:hover {
    color: red;
    cursor: pointer;
}

.header_left:hover, .header_icons:hover {
    cursor: pointer;     /*   we will change classes accordingly later on when we will provide the click functionality  */
}

.header_list {
    list-style: none;
    display: flex;
    /* display: none; */
    flex: 0.45;
    justify-content: space-evenly;
    font-size: 22px;
    color: grey;
}


.header_list > li > a:hover {
    color: white;
    cursor: pointer;
}

.header_list > li > a:hover .search-icon {
    color: white;
    cursor: pointer;
}

.header_list > li > a {
    display: inline-flex;
    height: 30px;
    padding: 1px 5px; 
    text-align: center;
    line-height: 30px;   
}

.search-icon {
    height: 18px;
    margin-top: 3px;
    margin-right: 10px;
    color: grey;
}